{% extends 'base.html.twig' %}

{% block title %}Planning Type{% endblock %}

{% block body %}
    <h2>Accueil</h2>
{#    {{ form_start(etatForm) }}#}
{#    <div>#}
{#    {{ form_widget(etatForm) }}#}
{#    </div>#}
{#    <button>Ajouter Etat !</button>#}
{#    {{ form_end(etatForm) }}#}


{% endblock %}
