{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}


    <h1>{{ employe['cache_nom'] }}</h1>
    <p>Matricule : {{ employe['matricule'] }}</p>


{% endblock %}
